<h1>Cryptos</h1>
<br/>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th>Total Value</th>
      <th>Profits/Losses
      <th>Symbol</th>
      <th>Cost per</th>
      <th>Amount owned</th>

    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
        <% for x in @search_coin['data'] %>
          <% if crypto.symbol == x['symbol'] %>
              <td><%= link_to x['name'], crypto %></td>
              <td>$<%= x['quote']['USD']['price'] %></td>
              <td>$<%= x['quote']['USD']['price'].to_d * crypto.amount_owned %></td>
              <td><%= (x['quote']['USD']['price'].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned) %></td>
          <% end %>
        <% end %>
        
          <td><%= crypto.symbol %></td>
          <td>$<%= crypto.cost_per %></td>
          <td><%= crypto.amount_owned %></td>
          
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
